/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

.table--bordered {
  thead tr {
    background: rgb(var(--v-theme-code));
  }

  th,
  td {
    border-top: 1px solid;
    border-left: 1px solid;

    &:last-child {
      border-right: 1px solid;
    }
  }

  tr:first-child td {
    border-top: none;
  }

  tr:last-child td {
    border-bottom: 1px solid;
  }
}

.text-field--simple input {
  background-color: #ffffff;
  color: #000000;
}
